<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KC Potter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0.0.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>510EB04B12E907A82AAA18523BD9920F9E3F59B5</string>
				<key>dateExpires</key>
				<string>3/31/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WB628AA5G9.danyul.KC-Potter</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WB628AA5G9</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>KC Potter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8d94ffd9-d5d7-4234-841a-273ee7f9800b</string>
				<key>dateExpires</key>
				<string>3/31/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: danyul.KC-Potter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WB628AA5G9</string>
				<key>name</key>
				<string>Daniel Li</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.1</string>
		</dict>
	</array>
</dict>
</plist>
